Array.java
Double.java
DuplicateZero.java
EvenOdd.java
Insert.java
LargestNo.java
LeftRotate.java
Main.java
MergeSortArr.java
MoveZero.java
NaturalNo.java
Printarray.java
Reversearray.class
Reversearray.java
Searching.java
SecondMax.java
SmallestNo.java
Solution.java
SortedArr.java
Suffle.java
Test.java
Varlen.java
